@model IEnumerable<ContosoUniversity.Viewmodel.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>学生数量统计</h2>

<table>
    <tr>
        <th>
            注册日期
        </th>

        <th>

        </th>

        <th>
            数量
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>

            <th>

            </th>

            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>