@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>2017软件技术二班</h1>
    <p class="lead">案例教程</p>
    <p><a href="https://docs.microsoft.com/zh-cn/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">点击进入</a></p>
</div>


