@model MvcMusicStore.Models.Music
@{
    ViewBag.Title = "播放界面";
}

<h2>播放界面</h2>
<h3>歌曲:@Model.MusicName</h3>
<audio   controls>
    @*controlsList="nodownload"*@
    <source src="@Model.MusicPath"  type="audio/mpeg">
    您的浏览器不支持 audio 元素。
</audio>

